@import 'colors';


#container {
    background-color: $reddish;
    border: 1px solid $black;
    width: 500px;
    height: 600px;
    margin: 150px 0 0 150px;
    


    #header {
        color: $black;

        #title{
            text-align: center;
            font-size: 50px;
            margin-top: 200px;
            
        }
    }

}
